[submodule "ertransfer_ditto"]
	path = methods/ditto/fork-ditto
	url = git@github.com:still273/fork-ditto.git
[submodule "ertransfer_deepmatcher"]
	path = methods/deepmatcher/fork-deepmatcher
	url = git@github.com:still273/fork-deepmatcher.git
[submodule "ertransfer_hiermatcher"]
	path = methods/hiermatcher/fork-deepmatcher
	url = git@github.com:still273/fork-deepmatcher.git
[submodule "ertransfer_deepblocker"]
	path = splitters/DeepBlocker/fork-deepblocker
	url = git@github.com:still273/fork-deepblocker.git
[submodule "ertransfer_zeroer"]
	path = methods/zeroer/fork-zeroer
	url = git@github.com:still273/fork-zeroer.git
[submodule "ertransfer_gnem"]
	path = methods/gnem/fork-gnem
	url = git@github.com:still273/fork-gnem.git
