[submodule "methods/deepmatcher/fork-deepmatcher"]
	path = methods/deepmatcher/fork-deepmatcher
	url = git@github.com:erbench/fork-deepmatcher.git
[submodule "splitter/fork-deepblocker"]
	path = splitter/fork-deepblocker
	url = git@github.com:erbench/fork-deepblocker.git
[submodule "methods/hiermatcher/fork-deepmatcher"]
	path = methods/hiermatcher/fork-deepmatcher
	url = git@github.com:erbench/fork-deepmatcher.git
[submodule "methods/gnem/fork-gnem"]
	path = methods/gnem/fork-gnem
	url = git@github.com:erbench/fork-gnem.git
