html {
    font-size: 1rem;
}

body {
    margin: 0px;
    height: 100%;
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--surface-ground);
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 1000px;
}

.p-progressbar.p-progressbar-failed .p-progressbar-value {
  background: #f32140
}

.p-progressbar.p-progressbar-success .p-progressbar-value {
  background: #12ac3c
}

.p-selectable-row {
  cursor: pointer;
}

.p-panel-no-padding .p-panel-content {
  padding: 0;
}

.p-datatable-table a {
  color: initial;
  text-decoration: none;
}
